<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Station20</key>
	<array>
		<integer>18</integer>
		<real>139.8929</real>
		<real>35.6657</real>
		<string>浦安駅</string>
		<string>T18</string>
		<string>T</string>
		<integer>2</integer>
	</array>
	<key>Station19</key>
	<array>
		<integer>16</integer>
		<real>139.8593</real>
		<real>35.6645</real>
		<string>西葛西駅</string>
		<string>T16</string>
		<string>T</string>
		<integer>2</integer>
	</array>
	<key>Station18</key>
	<array>
		<integer>13</integer>
		<real>139.8065</real>
		<real>35.6694</real>
		<string>木場駅</string>
		<string>T13</string>
		<string>T</string>
		<integer>2</integer>
	</array>
	<key>Station17</key>
	<array>
		<integer>11</integer>
		<real>139.78</real>
		<real>35.6797</real>
		<string>茅場町駅</string>
		<string>T11</string>
		<string>T</string>
		<integer>2</integer>
	</array>
	<key>Station16</key>
	<array>
		<integer>10</integer>
		<real>139.7739</real>
		<real>35.6824</real>
		<string>日本橋駅</string>
		<string>T10</string>
		<string>T</string>
		<integer>2</integer>
	</array>
	<key>Station15</key>
	<array>
		<integer>25</integer>
		<real>139.7404</real>
		<real>35.6301</real>
		<string>品川駅</string>
		<string>JY25</string>
		<string>JY</string>
		<integer>0</integer>
	</array>
	<key>Station14</key>
	<array>
		<integer>24</integer>
		<real>139.7285</real>
		<real>35.6197</real>
		<string>大崎駅</string>
		<string>JY24</string>
		<string>JY</string>
		<integer>0</integer>
	</array>
	<key>Station13</key>
	<array>
		<integer>17</integer>
		<real>139.7002</real>
		<real>35.6909</real>
		<string>新宿駅</string>
		<string>JY17</string>
		<string>JY</string>
		<integer>0</integer>
	</array>
	<key>Station12</key>
	<array>
		<integer>13</integer>
		<real>139.7103</real>
		<real>35.7289</real>
		<string>池袋駅</string>
		<string>JY13</string>
		<string>JY</string>
		<integer>0</integer>
	</array>
	<key>Station11</key>
	<array>
		<integer>9</integer>
		<real>139.7608</real>
		<real>35.738</real>
		<string>田端駅</string>
		<string>JY09</string>
		<string>JY</string>
		<integer>0</integer>
	</array>
	<key>Station10</key>
	<array>
		<integer>7</integer>
		<real>139.7709</real>
		<real>35.7277</real>
		<string>日暮里駅</string>
		<string>JY07</string>
		<string>JY</string>
		<integer>0</integer>
	</array>
	<key>Station9</key>
	<array>
		<integer>5</integer>
		<real>139.7772</real>
		<real>35.7137</real>
		<string>上野駅</string>
		<string>JY05</string>
		<string>JY</string>
		<integer>0</integer>
	</array>
	<key>Station8</key>
	<array>
		<integer>1</integer>
		<real>139.766</real>
		<real>35.6813</real>
		<string>東京駅</string>
		<string>JY01</string>
		<string>JY</string>
		<integer>0</integer>
	</array>
	<key>Station7</key>
	<array>
		<integer>44</integer>
		<real>139.5965</real>
		<real>35.4092</real>
		<string>上大岡駅</string>
		<string>KK44</string>
		<string>KK</string>
		<integer>1</integer>
	</array>
	<key>Station6</key>
	<array>
		<integer>37</integer>
		<real>139.6195</real>
		<real>35.4567</real>
		<string>横浜駅</string>
		<string>KK37</string>
		<string>KK</string>
		<integer>1</integer>
	</array>
	<key>Station5</key>
	<array>
		<integer>20</integer>
		<real>139.7008</real>
		<real>35.5328</real>
		<string>京急川崎駅</string>
		<string>KK20</string>
		<string>KK</string>
		<integer>1</integer>
	</array>
	<key>Station4</key>
	<array>
		<integer>11</integer>
		<real>139.7237</real>
		<real>35.5606</real>
		<string>京急蒲田駅</string>
		<string>KK11</string>
		<string>KK</string>
		<integer>1</integer>
	</array>
	<key>Station3</key>
	<array>
		<integer>8</integer>
		<real>139.7349</real>
		<real>35.579</real>
		<string>平和島駅</string>
		<string>KK08</string>
		<string>KK</string>
		<integer>1</integer>
	</array>
	<key>Station2</key>
	<array>
		<integer>4</integer>
		<real>39.7429</real>
		<real>35.6093</real>
		<string>青物横丁駅</string>
		<string>KK04</string>
		<string>KK</string>
		<integer>1</integer>
	</array>
	<key>Station1</key>
	<array>
		<integer>1</integer>
		<real>139.7377</real>
		<real>35.6277</real>
		<string>品川駅</string>
		<string>KK01</string>
		<string>KK</string>
		<integer>1</integer>
	</array>
	<key>Route3</key>
	<array>
		<integer>3</integer>
		<string>東京地下鉄東西線</string>
		<string>T</string>
		<integer>2</integer>
	</array>
	<key>Route2</key>
	<array>
		<integer>2</integer>
		<string>京急本線</string>
		<string>KK</string>
		<integer>1</integer>
	</array>
	<key>Route1</key>
	<array>
		<integer>1</integer>
		<string>山手の線</string>
		<string>JY</string>
		<integer>0</integer>
	</array>
</dict>
</plist>
