<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RuleFlg</key>
	<false/>
	<key>AlarmTimes</key>
	<integer>0</integer>
	<key>ActiveSoundCd</key>
	<integer>0</integer>
	<key>SoundCd</key>
	<array>
		<integer>1000</integer>
		<integer>1001</integer>
		<integer>1002</integer>
	</array>
</dict>
</plist>
